.container{
  width: auto;
}
.header{
  background-image: url(../images/landing.jpg);
  height: 500px;
}
.header img{
margin-left: 500px;
margin-top: 70px;
}
.header p{
  text-align: center;
  color: white;
  font-size: 30px;
}
#happy-party{
  height: 180px;
    background-color: grey;
}
#happy-party  :hover{
box-shadow: 0 0 5px #000;
}
#happy-party .juu{
  height: 90px;
}
#happy-party .chini{
  height: 90px;
}
#happy-party .juu p{
  font-size: 30px;
  color: white;
  padding: 30px;
}
#happy-party .chini p{
  font-size: 30px;
  color: white;
  padding: 30px;
}
#breakfast{
    background-image: url(../images/breakfast.jpg);
    height: 180px
}
#breakfast :hover{
box-shadow: 0 0 5px #000;
}
#breakfast p{
  color: white;
  font-size: 30px;
  padding: 70px;
}
#lunch{
    background-image: url(../images/lunch.jpg);
    height: 180px;
}
#lunch  :hover{
box-shadow: 0 0 5px #000;
}
#lunch p{
  color: white;
    font-size: 30px;
      padding: 70px;
}
#dinner{
  background-image: url(../images/dinner.jpg);
  height: 180px;

}
#dinner  :hover{
box-shadow: 0 0 5px #000;
}
#dinner  p{
  color: white;
    padding: 70px;
  font-size: 30px;
}
.fastfood{
margin-bottom: 30px;
overflow: hidden;
margin-top: 0px;
}
.fastfood .box{
  padding: 40px;
  float: left;
}
.fastfood .text{
  padding: 20px;
  float: right;
  width: 50%;
  font-family: sans-serif;
}
.fastfood .text h1{
font-weight: bold;
}
.fastfood .text h2{
font-size: 18px;
}
.fastfood .text p{
  font-size: 15px;
}
.fastfood button{
  color: #F15A29;
  font-size: 15px;
  border: solid 0.5px;
  background-color: white;
  height: 40px;
}
.drink{
  margin-bottom: 30px;
  overflow: hidden;
}
.drink .text{
  float: left;
  text-align: right;
  overflow: hidden;
  font-style: comic sans MS;
}
.drink .text p{
  font-size: 15px;
}
.drink .text h2{
  font-size: 18px;
}
.drink .text h1{
font-weight: bold;
}
.drink .box{
  float: right;
  margin-right: 100px;
  overflow: hidden;
   box-shadow: 5px 10px #888888;
   opacity: 0px;
}
.drink button{
  background-color: white;
  border: solid 0.5px;
  color: #F15A29;
  height: 40px;
  font-size: 15px;
}
.food{
  min-height: 400px;
  overflow: hidden;
  height: auto;
}
.food .jumbotron{
  margin-top: 100px;
  min-height: 150px;
}
.food .jumbo{
  margin-left: 100px;
}
.food .jumbo img{
  padding: 20px;
}
.food .row #fast{
  background-color: white;
}
.food .row #fast p{
  color: #F15A29;
}
.food .row #drinks{
  background-color: grey;
}
.food .row #chicken{
  background-color: grey;
}
.food .row #rice{
  background-color: grey;
}
.customers{
 border: 2px solid grey;
 margin-top: 40px;
  height: 250px;
  width: 1200px;
  margin-bottom: 40px;
 }
 .customers .happy{
   float: left;
   margin-left:  80px;
 }
 .customers .about{
   float: right;
   width: 40%;
 }
 .advert{
   background-image: url(../images/subscribe.jpg);
   height: 300px;
}
.advert h2{
  color: white;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}
.advert button{
  background-color: #F15A29;
  height: 50px;
  width: 120px;
  border: solid 0px;
  color: white;
  font-size: 25px;
}
.advert input{
  background-color: grey;
  margin-left: 400px;
  border: solid 0px;
}
footer{
  background-color:  #F15A29;
  height: 280px;
}
footer .juu{
  margin-left: 530px;
  padding: 20px;
  color: white;
  margin-top: 0px;
  font-size: 35px;
}
footer .word{
  font-size: 20px;
  text-align: center;
  color: white;
}
footer .media{
  display: inline;
  padding: 15px;
}
footer .last{
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}
